$btn-black-color:#faf9f9;
$btn-black-bg-color: #040608c5;
$btn-black-color-hover:#505050df;


.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-width: 1px;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #040608;
  background-color: #faf9f9;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}

.btn:focus-visible {
  box-shadow: 0 0 0 2px rgb(204, 203, 203);
  
}

.btn:hover {
  background-color: #b6b6b6c9;
  transition-delay: 0.3s;
  transition-duration: 0.2s;
  
}

.btn:active {
  transform: scale(0.96);
  
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}

.btn-black {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: $btn-black-color;
  background-color: $btn-black-bg-color;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;


  &:focus-visible {
    box-shadow: 0 0 0 2px rgb(204, 203, 203);
  }

  &:hover {
    background-color: $btn-black-color-hover;
    transition-delay: 0.3s;
    transition-duration: 0.2s;
  }

  &:active {
    transform: scale(0.96);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.65;
  }
}

.btn-blue {
  background-color: #2a9fd6;
}

.btn-gray {
  background-color: rgba(85, 85, 85, 0.507);
}

// .btn-close-white {
//   -webkit-filter: invert(1) grayscale(100%) brightness(200%);
//   filter: invert(1) grayscale(100%) brightness(200%);
// }

.btn-close:disabled,
.btn-close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(42, 159, 214, 0.25);
  opacity: 1;
}

.btn-close:hover {
  color: #fff;
  text-decoration: none;
  opacity: 1;

}

.btn-close {
  justify-content: end;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
  color: #fff;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.6;
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-width: 1px;
}